<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->



<!--

WICHTIG: aktuell heisst dieses Template nmap. Das Template soll aber alle Ops Details auflisten
Hinweis: es soll mittels shifting (ausklappbaren Teilen realisiert werden)






-->










<html class="no-js"> <!--<![endif]-->
    <head>
        <title>SecurityHUB</title>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- stylesheets -->
        <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/assets/font_icon/css/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="static/assets/font_icon/css/helper.css">
        <link rel="stylesheet" href="static/assets/css/owl.carousel.css">
        <link rel="stylesheet" href="static/assets/css/owl.theme.css">
        <link rel="stylesheet" href="static/assets/css/animate.css">
        <link rel="stylesheet" href="static/assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/assets/css/view.css">


        <!-- google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500|Lato:300,400,700,900,300italic,400italic,700italic,900italic|Raleway:400,200,300,500,100|Titillium+Web:400,200,300italic,300,200italic' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="static/assets/js/view.js"></script>
        <script type="text/javascript" src="static/assets/js/calendar.js"></script>
        <script src="static/assets/js/modernizr.js"></script>

    </head>
    <body id="body">
        <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Navigation area -->
        <section id="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="logo"><a data-scroll href="#body" class="logo-text">SecurityHUB</a></div>
                    </div>
                    <div class="col-xs-6">
                        <div class="nav">
                            <a href="#" data-placement="bottom" title="Menu" class="menu" data-toggle="dropdown"><i class="pe-7s-menu"></i></a>
                             <div class="dropdown-menu">
                                 <div class="arrow-up"></div>
                                 <ul>
                                     <li><a data-scroll href="#body">Home <i class="pe-7s-home"></i></a><span class="menu-effect"></span></li>
                                     <li><a data-scroll href="#services">Service <i class="pe-7s-config"></i></a><span class="menu-effect"></span></li>
                                     <li><a data-scroll href="#portfolio">Portfolio <i class="pe-7s-glasses"></i></a><span class="menu-effect"></span></li>
                                     <li><a data-scroll href="#testimonial">Testimonial <i class="pe-7s-comment"></i><span class="menu-effect"></span></a></li>
                                     <li><a data-scroll href="#contact">Contact <i class="pe-7s-help1"></i></a><span class="menu-effect"></span></li>
                                 </ul>
                             </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Content Area -->
<form id="form_48739"  enctype="multipart/form-data" method="post" action="{{ url_for('result') }}">
			<ul >


        <!-- Portfolio Area -->
        {% if scanTypes['nmap']==1 %}
        {% include 'detailSelection/selectDetailsOps/selectNmap.html' %}
        {% else %}

        {% endif %}
                {% if scanTypes['restapi']==1 %}
        {% include 'detailSelection/selectDetailsOps/selectReSTFuzzer.html' %}
        {% else %}

        {% endif %}
                {% if scanTypes['wfuzz']==1 %}
        {% include 'detailSelection/selectDetailsOps/selectWFuzz.html' %}
        {% else %}

        {% endif %}

        <input type="hidden" id="app" name="app" value="{{ app }}">
        <input type="hidden" id="name" name="name" value="{{ url }}">
        <input type="hidden" id="reqmail" name="reqmail" value="{{ req_mail }}">
        <input type="hidden" id="postPhone" name="postPhone" value="{{ env }}">
        <input type="hidden" id="prePhone" name="prePhone" value="{{ reason }}">
        <input type="hidden" id="mailIso" name="mailIso" value="{{ owner }}">
        <input type="hidden" id="reason" name="reason" value="{{ add_info }}">
        <input type="hidden" id="desc" name="desc" value="{{ desc }}">

        <h2 class="block_title">Start Scans</h2>
        <div id="form_container">
        <input id="saveForm" class="button_text" type="submit" name="Send Scan Request" value="Submit" />
        </div>

            </ul>
        </form>
        <br/>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright">© Copyright 2019 <a href="#" target="_blank">securityHUB.org</a></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="designed">Theme by <a href="http://themewagon.com" target="_blank">Themewagon</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Necessery scripts -->
        <script src="static/assets/js/jquery-2.1.3.min.js"></script>
        <script src="static/assets/js/bootstrap.min.js"></script>
        <script src="static/assets/js/jquery.actual.min.js"></script>
        <script src="static/assets/js/smooth-scroll.js"></script>
        <script src="static/assets/js/owl.carousel.js"></script>
        <script src="static/assets/js/script.js"></script>

    </body>
</html>

